*
{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
body
{
	background-image: url(a.jpg);
	background-size: 100% 800px;
	background-repeat: no-repeat;
}
.heading
{
	background-color: rgba(0,0,0,0.4);
	font-family: Parchment ;
	font-size: 150px;
	color: palegreen;
	text-align: center;
	text-shadow: 2px 1px black;
}
.heading:hover
{
	background-color: rgba(0,0,0,0.7);
	color: lightgray;
	border-radius: 8px;
}
.menu ul li
{
	list-style-type: none;
	float: left;
	font-family: Comic Sans MS ;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	color: palegreen;
	text-shadow: 2px 1px black;
	border-bottom-style: outset;
	border-bottom: 1px solid rgba(0,0,0,0.2); 
	border-top: 1px solid rgba(0,0,0,0.2); 
	width: 271px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);

}
.menu button
{
	list-style-type: none;
	float: left;
	font-family: Comic Sans MS ;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	color: palegreen;
	border: none;
	text-shadow: 2px 1px black;
	border-bottom: 1px solid rgba(0,0,0,0.2); 
	border-top: 1px solid rgba(0,0,0,0.2); 
	width: 271px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);

}
.menu ul li:hover
{
	background-color: rgba(0,0,0,0.7);
	color: tomato;
	border-radius: 5px;

}
.menu ul ul li
{
	font-size: 25px;
}
.menu ul ul
{
	display: none;
}
.menu ul li:hover ul
{
	display:block;
}
img
{
	width: 600px;
	height: 400px;
}
.a
{
	border: 2px solid #ccc;
}
.a:hover
{
	border: 2px solid #777;
}
.a img
{
	width: 100%;
	height: auto;
}
.desc
{
	padding: 20px;
	text-align: center;
}
.responsive
{
	padding: 0 6px;
	float: left;
	width: 24.9999%;
}
@media only screen and (max-width: 700px)
{
	.responsive
	{
		width: 49.9999%;
		margin: 6px 0;
	}
}
@media only screen and (max-width: 500px)
{
	.responsive
	{
		width: 100%;
		
	}
}
.clearfix:after
{
	content: "";
	display: table;
	clear: both;
}
